<ion-header>
    <ion-navbar>
        <ion-title>{{login}}'s details</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row class="userCard">
            <ion-col col-5>
                <img class="userAvatar" src="{{user?.avatar_url}}">
            </ion-col>
            <ion-col col-7 class="nameContainer">
               <h1 class="userName">{{user?.name}}</h1>
               <h2 class="userLogin">{{user?.login}}</h2>
            </ion-col>
        </ion-row>
        <ion-row class="userButtons">
            <ion-col col-6 class="userRepos" (click)="goToRepos(user.login)">
                <i class="fa fa-sitemap" aria-hidden="true"></i>
                <p>Repositories</p>
                <ion-badge class="userRepoCounter">{{user?.public_repos}}</ion-badge>
            </ion-col>
            <ion-col col-6 class="userContact">
                <i *ngIf="user?.hireable" class="fa fa-child" aria-hidden="true"></i>
                <i *ngIf="!user?.hireable" class="fa fa-user" aria-hidden="true"></i>
                <p>Contact Info</p>
            </ion-col>
        </ion-row>
        <ion-row class="userButtons">
            <ion-col col-6 class="userFollowers" (click)="goToFollowers(user.login)">
                <i class="fa fa-users" aria-hidden="true"></i>
                <p>Followers</p>
                <ion-badge class="userFollowersCounter">{{user?.followers}}</ion-badge>
            </ion-col>
            <ion-col col-6 class="userFollowing" (click)="goToFollowing(user.login)">
                <i class="fa fa-address-book" aria-hidden="true"></i>
                <p>Following</p>
                <ion-badge class="userFollowingCounter">{{user?.following}}</ion-badge>
            </ion-col>
        </ion-row>
        <ion-row class="userTimeStamp">
            <ion-col col-12>
                <p>Last seen: {{user?.updated_at | date: 'dd MMMM yyyy'}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list>
        <ion-item *ngIf="user?.email">
            <ion-label>Email</ion-label>
            <ion-badge item-right>{{user?.email}}</ion-badge>
        </ion-item>

        <ion-item *ngIf="user?.company">
            <ion-label>Company</ion-label>
            <ion-badge item-right>{{user?.company}}</ion-badge>
        </ion-item>

        <ion-item *ngIf="user?.blog">
            <ion-label>Blog</ion-label>
            <ion-badge item-right>{{user?.blog}}</ion-badge>
        </ion-item>

        <ion-item *ngIf="user?.location">
            <ion-label>Location</ion-label>
            <ion-badge item-right>{{user?.location}}</ion-badge>
        </ion-item>
    </ion-list>
</ion-content>