page-user-contact-modal {
    .userName {
        text-align: center;
        font-size: 2rem;
    }
    .userBio {
        margin: 16px;
        color: #666;
    }
    a {
        color: #666;
        text-decoration: none;
    }
}
